body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-image: url(/TPFinalLaboIV/Views/images/default-background.png);
    background-attachment: fixed;
    background-size: 100% 100%;
 }

 .carousel-slide{
  margin-top: 30px;
 }
 .carouselImg{
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
 }

 nav .navIcon{
   height: 25px;
 }

 table{
   opacity: 0.9;
 }

 .leftSectionTable{
   width: 100%;
   float: left;
   margin-bottom: 35px;
 }

 .leftSectionCartForm{
  width: 100%;
  float: left;
  margin-top: 35px;
}

 .modal-content{
  opacity: 1;
}

.modal-dialog{
  background-color: darkgreen;
}

 .leftSectionTable .modal-dialog{
   margin-top: 100px;
 }
 
 
 .leftSection{
  text-align: left;
  float: left;
  width: 60%;
 }


 .movieShowPoster {
  top: 0;
  max-width: 35%;
  float: right;
  position: relative;
  border-radius: 20px;
}

.rightSectionImg {
  top: 0;
  max-width: 35%;
  float: right;
  position: relative;
  border-radius: 20px;
  opacity: 0.8;
}

 .leftSectionTableCard{
   height: auto;
   margin-top: -25px;
   background-color: #ddd;
   opacity: 0.9;
   border-bottom: 1px solid #333;
 }

 .leftSectionTableCard .tableCardTitle {
   margin-top: 25px;
   margin-left: 20px;
   padding-top: 20px;
 }

 .leftSectionTable .paymentCardTitle {
  margin-bottom: 15px;
  margin-left: 20px;
  padding-top: 20px;
}

 .leftSectionTableCard .row{
   width: 80%;
   margin-left: 50px;
   padding-top: 5px;
   margin-bottom: 5px;
 }

 .leftSectionTableCard .row .paymentLogo{
   height: 25px;
 }

 .leftSectionTableCard input {
   width: 40px;
   height: 25px;
   margin-left: 5px;
 }

 .leftSectionTableCard .cardNumber {
  width: 200px;
  height: 25px;
  margin-left: 5px;
}

 .leftSectionTableCard button {
  float: right;
  margin-top: -5px;
}
.leftSectionTableCard .row button {
  float: right;
  width: 70px;
  margin-top: -5px;
  margin-bottom: 15px;
}

 .collapse .card-body .table {
   margin-bottom: -10px;
 }

  .collapse .card-body .table .row{
    border-radius: 15px;
    border-bottom: 2px solid #ddd;
    vertical-align: middle;
  }

 .pageHeader{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 70px;
  }

 .pageHeaderTitle{
    float: left;
    width: 50%;
  }

  .pageHeaderFilter{
    float: right;
    width: 50%;
  }

  .headerRightFIlter{
    float: right;
    width: 60%;
  }

  .headerRightFIlter input {
    float: left;
    width: 50%;
  }

  .headerRightFIlter button {
    float: right;
    width: 130px;
  }

  .headerLeftFIlter{
    float: left;
    width: 40%;
  }

  .headerLeftFIlter div {
    float: right;
    margin-right: 40px;
  }

  .cinemasHeaderName{
    width: 30%;  
  }

  .cinemasHeaderAddress{
    width: 60%;
  }

  .cinemasAccordion{
    margin-top: -25px;
    opacity: 0.9;
  }

  .cinemasAccordion .accordion .tab-content .row {
    border-radius: 15px;
  } 

  .profileDataSection{
    margin-top: 60px;
    margin-left: 60px;
    text-align: left;
    float: left;
    width: 500px;
  }

  .profileDataSection .profileData{
    border-color: #12bbad;
    border-radius: 5px;
    height: 150px;
    width: 60%;
  }
  .profileDataSection .profileData .rowLabel{
    width: 100px;
    color: #f3f3f3 !important;
  }

  .profileTicketsSection{
    margin-top: 60px;
    width: 50%;
    text-align: left;
    opacity: 0.9;
    float: right;
  }

  .profileTicketsSection .accordion {
    margin-top: -30px;
  }

  .ConfirmationSection{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 250px;
  }

  .ConfirmationSection .btn-col{
    width: 50%;
  }
