body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-image: url(/TPFinalLaboIV/Views/images/default-background.png);
    background-attachment: fixed;
    background-size: 100% 100%;
 }
 .pageHeader{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 70px;
  }

 .pageHeaderTitle{
    float: left;
    width: 50%;
  }

  .pageHeaderFilter{
    float: right;
    width: 50%;
  }

  .headerRightFIlter{
    float: right;
    width: 60%;
  }

  .headerRightFIlter input {
    float: left;
    width: 50%;
  }

  .headerRightFIlter button {
    float: right;
    width: 130px;
  }

  .headerLeftFIlter{
    float: left;
    width: 40%;
  }

  .headerLeftFIlter div {
    float: right;
    margin-right: 40px;
  }

  .cinemasHeaderName{
    width: 30%;  
  }

  .cinemasHeaderAddress{
    width: 60%;
  }

  .cinemasAccordion{
    margin-top: -25px;
  }